@using Vegetais.Blog.Web.Models
<!-- technology-right -->
<div class="col-md-3 technology-right">
    <div class="blo-top">
        <div class="tech-btm">
            <h4>Aprendizado </h4>
            <a href="@Url.Action("Transmissao", "Home")"><img src="@Url.Content("~/images/banner1.jpg")" class="img-responsive" alt="" /></a>
        </div>
    </div>
    <div class="blo-top">
        <div class="tech-btm">
            <h4>Newsletter</h4>
            <p>Deixe seu e-mail e Receba artigos sobre como fazer transmissões profissionais.</p>
            @using (Html.BeginForm("Enviar", "Home"))
            {
                Html.RenderPartial("_Formulario2");
            }
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="blo-top1">
        <div class="tech-btm">
            <h4>Matérias mais Vistas</h4>
            <div class="blog-grids">
                @{
                    var viewModel = (MainLayoutViewModel)ViewBag.MainLayoutViewModel;
                }
                @foreach (var artigo in viewModel.MateriasMaisVista)
                {
                    <div class="blog-grids">
                        <div class="blog-grid-left">
                            <a href="#"><img src="@artigo.Imagem" class="img-responsive" alt="" /></a>
                        </div>
                        <div class="blog-grid-right">

                            <h5><a href="@Url.RouteUrl("Blog", new {nomeArtigo = @artigo.Link})">@artigo.Titulo</a> </h5>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>