    <!-- footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-4 footer-left">
            <h6>Segredos do Live Profissional</h6>
            <p>Este blog nasceu com o intuito de esclarecer tudo o que se refere ao universo das transmissões ao vivo profissionais.</p>
            <p>Aprenda por meio de dicas, tutoriais, testes e indicações das ferramentas mais apropriadas para cada situação.</p>
        </div>
        <div class="col-md-4 footer-middle">
            <h4>Comunique-se</h4>
            <div class="mid-btm">
                <p>Aprenda a criar um bom canal de comunicação na sua empresa.</p>
                <a href="@Url.Action("Transmissao", "Home")">http://bit.ly/2j5LUQh</a>
            </div>

            <p>Aprenda a Criar relacionamento e proximidade com seu público.</p>
            <a href="@Url.Action("Transmissao", "Home")">http://bit.ly/2jSuKSY</a>

        </div>
        <div class="col-md-4 footer-right">
            <h4>Links Úteis</h4>
            <li><a href="@Url.Action("Transmissao", "Home")">Dicas para Transmissões</a></li>
            <li><a href="@Url.Action("Sobre", "Home")">Sobre a Uvídeos </a></li>
            <li><a href="@Url.Action("Contato", "Home")">Entre em Contato</a></li>
            <li><a href="@Url.Action("Materiais", "Home")">Materiais Úteis</a></li>
            <li><a href="@Url.Action("IndicarAmigo", "Home")">Indique um amigo</a></li>
            <li><a href="@Url.Action("Cadastro", "Home")">Cadastre-se</a></li>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- footer -->
<!-- footer-bottom -->
<div class="foot-nav">
    <div class="container">
        <ul>
            <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Sobre", "Home")">Sobre</a></li>
            <li><a href="@Url.Action("Materiais", "Home")">Materiais</a></li>
            <li><a href="@Url.Action("Cadastro", "Home")">Cadastro</a></li>
            <li><a href="@Url.Action("Contato", "Home")">Contato</a></li>
            <div class="clearfix"></div>
        </ul>
    </div>
</div>
<!-- footer-bottom -->
<div class="copyright">
    <div class="container">
        <p>© 2016 Desenvolvido por Os Vegetais</p>
    </div>
</div>
