<!--start-main-->
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="logo">
                <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/images/logo_uvideo_pequeno.png")" class="logo-home" title="Logotipo uvideo" alt="Logotipo uvídeo" /></a>
            </div>
            <div class="search">
                <form>
                    <input type="text" value="Buscar" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Buscar';}">
                    <input type="submit" value="">
                </form>
            </div>
            <div class="social">
                <ul>
                    <li>
                        <a href="#" class="facebook"> </a>
                    </li>
                    <li>
                        <a href="#" class="facebook twitter"> </a>
                    </li>
                    <li>
                        <a href="#" class="facebook chrome"> </a>
                    </li>
                    <li>
                        <a href="#" class="facebook in"> </a>
                    </li>
                    <li>
                        <a href="#" class="facebook vem"> </a>
                    </li>
                    <li>
                        <a href="#" class="facebook yout"> </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!--head-bottom-->
    <div class="head-bottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Sobre", "Home")">Sobre</a></li>
                    <li><a href="@Url.Action("Materiais", "Home")">Materiais</a></li>
                    <li><a href="@Url.Action("Cadastro", "Home")">Cadastro</a></li>
                    <li><a href="@Url.Action("Index", "Home", new { area= "Admin" }, null)">Administrativo *</a></li>
                    <li><a href="@Url.Action("Contato", "Home")">Contato</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!--head-bottom-->
</div>
