<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <!--start-main-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="logo">
                    <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/images/logo_uvideo_pequeno.png")" class="logo-home" title="Logotipo uvideo" alt="Logotipo uvídeo" /></a>
                </div>
                <div class="search">
                    <form>
                        <input type="text" value="Buscar" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Buscar';}">
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="social">
                    <ul>
                        <li>
                            <a href="#" class="facebook"> </a>
                        </li>
                        <li>
                            <a href="#" class="facebook twitter"> </a>
                        </li>
                        <li>
                            <a href="#" class="facebook chrome"> </a>
                        </li>
                        <li>
                            <a href="#" class="facebook in"> </a>
                        </li>
                        <li>
                            <a href="#" class="facebook vem"> </a>
                        </li>
                        <li>
                            <a href="#" class="facebook yout"> </a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <!--head-bottom-->
        <div class="head-bottom">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("Sobre", "Home")">Sobre</a></li>
                        <li><a href="@Url.Action("Materiais", "Home")">Materiais</a></li>
                        <li><a href="@Url.Action("Cadastro", "Home")">Cadastro</a></li>
                        <li><a href="@Url.Action("Index", "Home", new { area= "Admin" }, null)">Administrativo *</a></li>
                        <li><a href="@Url.Action("Contato", "Home")">Contato</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
        <!--head-bottom-->
    </div>

    <!-- banner -->
    @RenderSection("banner", required: false)

    <!-- technology -->
    <div class="technology">
        <div class="container">

            <div class="col-md-9 technology-left">
                @RenderBody()
            </div>

            <!-- technology-right -->
            <div class="col-md-3 technology-right">
                <div class="blo-top">
                    <div class="tech-btm">
                        <h4>Aprendizado </h4>
                        <a href="@Url.Action("Transmissao", "Home")"><img src="@Url.Content("~/images/banner1.jpg")" class="img-responsive" alt="" /></a>
                    </div>
                </div>
                <div class="blo-top">
                    <div class="tech-btm">
                        <h4>Newsletter</h4>
                        <p>Deixe seu e-mail e Receba artigos sobre como fazer transmissões profissionais.</p>
                        @using (Html.BeginForm("Enviar", "Home"))
                        {
                            <div class="name">
                                <input id="nome" name="nome" type="text" placeholder="Nome" required="">
                                <input id="email" name="email" class="email" type="text" placeholder="Email" required="">
                            </div>
                            <div class="button">
                                <input type="submit" value="Enviar">
                            </div>
                        }
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="blo-top1">
                    <div class="tech-btm">
                        <h4>Matérias mais Vistas </h4>
                        <div class="blog-grids">

                            <div class="blog-grids">
                                <div class="blog-grid-left">
                                    <a href="#"><img src="@Url.Content("~/images/post-blog-uvideos-live.jpg")" class="img-responsive" alt="" /></a>
                                </div>
                                <div class="blog-grid-right">

                                    <h5><a href="#">O que é para Fazer uma boa Live?</a> </h5>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="blog-grids">
                                <div class="blog-grid-left">
                                    <a href="#"><img src="@Url.Content("~/images/post-uvideos-comunicacao-empresarial.jpg")" class="img-responsive" alt="" /></a>
                                </div>
                                <div class="blog-grid-right">

                                    <h5><a href="#">Segredos da Comunicação Empresarial</a> </h5>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="blog-grids">
                                <div class="blog-grid-left">
                                    <a href="#"><img src="@Url.Content("~/images/post-uvideos-instagram-live.jpg")" class="img-responsive" alt="" /></a>
                                </div>
                                <div class="blog-grid-right">

                                    <h5><a href="#">Fazendo Live no Insta, Saiba tudo.</a> </h5>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- technology-right -->
            <!-- technology-right -->
        </div>
    </div>
    <!-- technology -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="col-md-4 footer-left">
                <h6>Segredos do Live Profissional</h6>
                <p>E este blog nasceu com o intuito de esclarecer tudo o que se refere ao universo das transmissões ao vivo profissionais.</p>
                <p>Aprenda por meio de dicas, tutoriais, testes e indicações das ferramentas mais apropriadas para cada situação.</p>
            </div>
            <div class="col-md-4 footer-middle">
                <h4>Comunique-se</h4>
                <div class="mid-btm">
                    <p>Aprenda a criar um bom canal de comunicação na sua empresa.</p>
                    <a href="@Url.Action("Transmissao", "Home")">https://call-empresa.com/</a>
                </div>

                <p>Aprenda a Criar relacionamento e proximidade com seu público.</p>
                <a href="@Url.Action("Transmissao", "Home")">https://audiencia-web.com/</a>

            </div>
            <div class="col-md-4 footer-right">
                <h4>Links Úteis</h4>
                <li><a href="@Url.Action("Transmissao", "Home")">Dicas para Transmissões</a></li>
                <li><a href="@Url.Action("Sobre", "Home")">Sobre a Uvídeos </a></li>
                <li><a href="@Url.Action("Contato", "Home")">Entre em Contato</a></li>
                <li><a href="@Url.Action("Materiais", "Home")">Materiais Úteis</a></li>
                <li><a href="@Url.Action("IndicarAmigo", "Home")">Indique um amigo</a></li>
                <li><a href="@Url.Action("Cadastro", "Home")">Cadastre-se</a></li>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- footer -->
    <!-- footer-bottom -->
    <div class="foot-nav">
        <div class="container">
            <ul>
                <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Sobre", "Home")">Sobre</a></li>
                <li><a href="@Url.Action("Materiais", "Home")">Materiais</a></li>
                <li><a href="@Url.Action("Cadastro", "Home")">Cadastro</a></li>
                <li><a href="@Url.Action("Contato", "Home")">Contato</a></li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    <!-- footer-bottom -->
    <div class="copyright">
        <div class="container">
            <p>© 2016 Desenvolvido por Os Vegetais</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!--código de acompanhamento do google analytics-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-90732233-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
