
@{
    ViewBag.Title = "Index";
}

<h2>Bem vindo ao NetShow.Me blog</h2>


@model List<Vegetais.Blog.Web.Models.ArtigoViewModel>

<div>
    @foreach (var artigo in Model)
    {
        <a href="@artigo.Link">
            <h3>@artigo.Titulo</h3>
        </a>

        if (!String.IsNullOrEmpty(artigo.Imagem))
        {
            <img src="@artigo.Imagem" />
        }

        if (!String.IsNullOrEmpty(artigo.Video))
        {
            @Html.Raw(artigo.Video)
        }

        @Html.Raw(artigo.Conteudo)
    }
</div>
