
@{
    ViewBag.Title = "UVídeos | Como Fazer Transmissões Profissionais";
}

@model List<Vegetais.Blog.Web.Models.ArtigoViewModel>

@section banner{
    <div class="banner">
        <div class="container">
            <h2>Melhore a Comunicação com o Seu Público</h2>
            <p>Aprenda a comunicar-se com o seu público e utilizar os canais de comunicação que tem a disposição para ter mais qualidade, audiencia, transmitir informação e criar relacionamentos.</p>
            <a href="@Url.Action("Transmissao", "Home")">Quero Transmitir</a> &nbsp;&nbsp; <a href="@Url.Action("IndicarAmigo", "Home")" class="destaque">Indicar um Amigo</a>
        </div>
    </div>
}

<div class="tech-no">
    @foreach (var artigo in Model)
    {
        <div class="soci">
            <ul>
                <li>
                    <a href="#" class="facebook-1"> </a>
                </li>
                <li>
                    <a href="#" class="facebook-1 twitter"> </a>
                </li>
                <li>
                    <a href="#" class="facebook-1 chrome"> </a>
                </li>
                <li><a href="#"><i class="glyphicon glyphicon-envelope"> </i></a></li>
                <li><a href="#"><i class="glyphicon glyphicon-print"> </i></a></li>
                <li><a href="#"><i class="glyphicon glyphicon-plus"> </i></a></li>
            </ul>
        </div>
        <div class="tc-ch">

            @if (!String.IsNullOrEmpty(artigo.Imagem))
            {

                <div class="tch-img">
                    <a href="@Url.RouteUrl("Blog", new { nomeArtigo = @artigo.Link})"><img src="@artigo.Imagem" class="img-responsive" alt="" /></a>
                </div>
            }

            @if (!String.IsNullOrEmpty(artigo.Video))
            {
                <div class="tch-img">
                    @Html.Raw(artigo.Video)
                </div>
            }


            <a class="blog blue" href="@artigo.CategoriaLink">@artigo.Categoria</a>
            <h3><a href="@Url.RouteUrl("Blog", new { nomeArtigo = @artigo.Link})">@artigo.Titulo</a></h3>
            @Html.Raw(artigo.ConteudoResumo)

            <div class="blog-poast-info">
                <ul>
                    <li><i class="glyphicon glyphicon-user"> </i><a class="admin" href="#">@artigo.Autor</a></li>
                    <li><i class="glyphicon glyphicon-calendar"> </i>@artigo.DataDePublicacao</li>
                    <li><i class="glyphicon glyphicon-comment"> </i><a class="p-blog" href="#">3 Comments </a></li>
                    <li><i class="glyphicon glyphicon-heart"> </i><a class="admin" href="#">5 favourites </a></li>
                    <li><i class="glyphicon glyphicon-eye-open"> </i>1.128 views</li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>

    }


</div>


